.AboutMobile
  .container 
    .AboutMobile-wrapper 
      .Collapse
        .Collapse-item 
          .Collapse-item-header.flex.items-center.justify-between 
            .Collapse-item-header-title Về thongminhmart
            .Collapse-item-header-arrow
              <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 1L7 7L1 0.999999" stroke="black" stroke-width="1.5" stroke-linecap="round"/></svg>

          .Collapse-item-body.style-content 
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi quae ab nam sapiente dolores laborum amet fuga velit nemo, voluptatibus reiciendis ratione ipsum a dolor enim dicta perferendis placeat quos!

        .Collapse-item 
          .Collapse-item-header.flex.items-center.justify-between 
            .Collapse-item-header-title Hỗ trợ khách hàng
            .Collapse-item-header-arrow
              <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 1L7 7L1 0.999999" stroke="black" stroke-width="1.5" stroke-linecap="round"/></svg>

          .Collapse-item-body.style-content 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore debitis quas quos maxime voluptate, ratione et eius tempora iure facilis rem repellendus, optio eveniet possimus animi recusandae voluptas error sequi!
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde fugiat maiores, assumenda minima necessitatibus! Neque voluptate a quia? Culpa inventore in minima, laborum id voluptatibus incidunt voluptates aperiam reprehenderit.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore perferendis iure voluptatum asperiores nemo delectus? Alias asperiores quos vitae, harum tempora ut consequuntur illo pariatur molestias quaerat! Quo, natus laborum.

        .Collapse-item 
          .Collapse-item-header.flex.items-center.justify-between 
            .Collapse-item-header-title Hệ thống tiện ích
            .Collapse-item-header-arrow
              <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 1L7 7L1 0.999999" stroke="black" stroke-width="1.5" stroke-linecap="round"/></svg>

          .Collapse-item-body.style-content 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi numquam ratione id nobis fugiat. Saepe similique inventore, dignissimos eaque amet non debitis est quam esse! Placeat enim vitae libero cupiditate!
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta unde iusto quasi saepe qui. Vero explicabo quos accusantium quidem a nulla, quaerat recusandae sed alias, eum adipisci, aspernatur laudantium inventore!

        .Collapse-item 
          .Collapse-item-header.flex.items-center.justify-between 
            .Collapse-item-header-title Kênh thông tin
            .Collapse-item-header-arrow
              <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 1L7 7L1 0.999999" stroke="black" stroke-width="1.5" stroke-linecap="round"/></svg>

          .Collapse-item-body.style-content 
            .AnotherInfoPage-socials.flex.flex-wrap.justify-center
              a(href="#" target="_blank").AnotherInfoPage-socials-item
                img(src="./assets/icons/icon-facebook.svg", alt="") 
              a(href="#" target="_blank").AnotherInfoPage-socials-item
                img(src="./assets/icons/icon-youtube.svg", alt="") 
              a(href="#" target="_blank").AnotherInfoPage-socials-item
                img(src="./assets/icons/icon-zalo.svg", alt="") 
              a(href="#" target="_blank").AnotherInfoPage-socials-item
                img(src="./assets/icons/icon-tiktok.svg", alt="") 