.Banner 
  .container
    .Banner-wrapper 
      .owl-carousel#Banner-carousel 
        each item in [1,2,3]
          .item
            .Banner-carousel-item 
              img(src="./assets/images/image-banner-desktop.jpg", alt="").desktop
              img(src="./assets/images/image-banner-mobile.jpg", alt="").mobile