footer.Footer
  .container
    .Footer-wrapper
      .Footer-wrapper-item
        .Footer-services.flex.items-center.justify-between 
          .Footer-services-item.flex.items-center 
            .Footer-services-item-icon 
              img(src="./assets/icons/icon-shield.svg", alt="")
            .Footer-services-item-title DỊCH VỤ UY TÍN

          .Footer-services-item.flex.items-center 
            .Footer-services-item-icon 
              img(src="./assets/icons/icon-refresh.svg", alt="")
            .Footer-services-item-title ĐỔI TRẢ TRÒNG VÒNG 7 NGÀY

          .Footer-services-item.flex.items-center 
            .Footer-services-item-icon 
              img(src="./assets/icons/icon-delivery.svg", alt="")
            .Footer-services-item-title GIAO HÀNG TOÀN QUỐC

      .Footer-wrapper-item.flex.justify-between
        .Footer-col
          .Footer-col-title Thông tin khác
          .Footer-lists 
            a(href="#").Footer-lists-item Giới thiệu Thông Minh Mart
            a(href="#").Footer-lists-item Chính sách bảo hành
            a(href="#").Footer-lists-item Chính sách vận chuyển
            a(href="#").Footer-lists-item Chính sách đổi hàng & hoàn tiền

        .Footer-col
          .Footer-col-title Kết nối với chúng tôi
          .Footer-socials.flex.flex-wrap
            a(href="#" target="_blank").Footer-socials-item
              img(src="./assets/icons/icon-facebook.svg", alt="") 
            a(href="#" target="_blank").Footer-socials-item
              img(src="./assets/icons/icon-youtube.svg", alt="") 
            a(href="#" target="_blank").Footer-socials-item
              img(src="./assets/icons/icon-zalo.svg", alt="") 
            a(href="#" target="_blank").Footer-socials-item
              img(src="./assets/icons/icon-tiktok.svg", alt="") 
            .Footer-socials-item.bct
              img(src="./assets/images/logo-bct.svg", alt="") 

        .Footer-col.flex
          .Footer-col-item
            .Footer-favicon
              img(src="./assets/images/favicon.png", alt="")

          .Footer-col-item
            .Footer-col-title CÔNG TY CỔ PHẦN TM&DV SMARTCHOISE
            .Footer-lists
              .Footer-lists-item Địa chỉ: 130A25 - Nghĩa Tân - Cầu Giấy - Hà Nội
              a(href="tel: 0932868585").Footer-lists-item Điện thoại: Zalo - 093 286 8585
              a(href="mailto: thongminhmart@gmail.com").Footer-lists-item Email: thongminhmart@gmail.com
              a(href="www.thongminhmart.vn").Footer-lists-item Website: www.thongminhmart.vn
            
