header.Header
  .container 
    .Header-wrapper.flex.justify-between
      a(href="index.html").Header-logo
        img(src="./assets/images/logo.svg", alt="")

      .Header-info
        .Header-info-contact.flex.justify-end
          .Header-info-contact-item.flex.items-center 
            .Header-info-contact-item-icon 
              img(src="./assets/icons/icon-phone-yellow.svg", alt="")

            .Header-info-contact-item-title
              strong Đặt hàng:
              a(href="#") 0979 188 002
              span |
              a(href="#") 0988 599 559

          .Header-info-contact-item.flex.items-center 
            .Header-info-contact-item-icon 
              img(src="./assets/icons/icon-phone-yellow.svg", alt="")

            .Header-info-contact-item-title
              strong Hotline:
              a(href="#") 1900 9999

        .Header-info-actions.flex.justify-end
          .Header-info-search.flex.items-center
            .Header-info-search-control
              input(type="text" placeholder="Tìm kiếm")
            .Header-info-search-icon 
              img(src="./assets/icons/icon-search.svg", alt="")

          .Header-info-cart.flex.items-center
            .Header-info-cart-icon 
              img(src="./assets/icons/icon-cart-gray.svg", alt="")
            .Header-info-cart-content
              span Giỏ hàng
              strong 0 đ

                

      