mixin ProductList({ title, hideLoadMore })
  .ProductList
    .container
      .ProductCategory-wrapper
        .Card 
          .Card-header.flex.items-center.justify-between 
            .Card-header-title= title

          .Card-body 
            .ProductList-list.flex.flex-wrap
              each item in [1,2,3,4,5,6,1,2,3,4,5,6,1,2,3]
                .ProductList-list-item
                  +ProductBox({
                    link: 'chi-tiet-san-pham.html',
                    video: `./assets/videos/video-product-${item}.mp4`,
                    image: './assets/images/image-product.png',
                    title: 'Son dưỡng môi Bobeni chiết xuất mật ong / đào / sữa ...',
                    oldPrice: '290,000 đ',
                    price: '190,000 đ',
                  })

            if (!hideLoadMore)
              .ProductList-loadmore
                +Button({ title: 'Xem thêm', className: 'outline-primary' })