.CheckoutPage {
  .Card {
    margin-bottom: 2.5rem;
  }

  &-text {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 8px;

    &:first-child {
      padding-right: .5rem;
    }

    &.medium {
      font-size: 2.8rem;
      font-weight: 500;

      @media (max-width: 575px) {
        font-size: 2.4rem;
      }
    }

    &.big {
      font-size: 3.2rem;
      font-weight: 700;

      @media (max-width: 575px) {
        font-size: 2.8rem;
      }
    }
  }

  &-form {
    &-row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1rem;

      &-address {
        margin-bottom: 2rem;
        position: relative;
        padding: 1.4rem 2.8rem;
        background-color: $gallery;
        border-radius: .5rem;

        @media (max-width: 991px) {
          padding: 1.4rem;
        }

        &::before {
          position: absolute;
          width: 1.8rem;
          height: 1.8rem;
          top: 0;
          left: 5rem;
          transform: translateY(-50%) rotate(45deg);
          content: '';
          background-color: $gallery;
        }
      }

      &.half {
        .CheckoutPage-form-row {
          &-control {
            flex: 0 0 50%;
            max-width: 50%;

            &:nth-last-child(1),
            &:nth-last-child(2) {
              margin-bottom: 0;
            }
          }
        }
      }

      &-control {
        padding: 0 1rem;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 2rem;
      }
    }
  }

  &-list-product {
    &-wrapper {
      max-height: 84rem;
      overflow: auto;
      margin-bottom: 4rem;

      @media (max-width: 991px) {
        max-height: 45rem;
      }
    }

    &-item {
      border: 1px solid $cloud;
      position: relative;

      @media (max-width: 991px) {
        padding: 1rem;
        border-bottom: none;

        &:last-child {
          border-bottom: 1px solid $cloud;
        }
      }

      &-image {
        flex: 0 0 19rem;
        max-width: 19rem;
        border-right: 1px solid $cloud;
        display: flex;
        align-items: center;
        background: $concrete;


        @media (max-width: 991px) {
          border-right: 0;
        }

        @media (max-width: 575px) {
          flex: 0 0 12.5rem;
          max-width: 12.5rem;
        }

        a {
          height: 19rem;
          padding: 1rem;

          @media (max-width: 575px) {
            height: 12.5rem;
          }

          @include centerOriginImage;
        }
      }

      &-info {
        flex: 1;
        padding: 2rem 3rem 1.5rem;

        @media (max-width: 991px) {
          padding: 0 2rem;
        }

        &-header {
          margin-bottom: 1rem;

          @media (max-width: 375px) {
            flex-direction: column;
            justify-content: unset;
          }
        }

        &-title {
          font-size: 2.2rem;
          color: $black;
          flex: 1;
          margin-right: 1.6rem;
          @include ellipsis(2);
          max-width: 75%;

          @media (max-width: 991px) {
            max-width: 100%;
          }

          @media (max-width: 575px) {
            font-size: 2rem;
          }
        }

        &-price {
          font-size: 2.8rem;
          font-weight: 700;
          color: $yellow-sea;
          white-space: nowrap;
          position: absolute;
          top: 2rem;
          right: 3rem;

          @media (max-width: 991px) {
            position: unset;
          }

          @media (max-width: 575px) {
            font-size: 2.2rem;
          }
        }

        &-description {
          margin-bottom: 1rem;
          max-width: 75%;

          @media (max-width: 991px) {
            max-width: 100%;
          }

          span {
            font-size: 1.8rem;
            margin-right: 1.2rem;
            color: $boulder;

            @media (max-width: 575px) {
              font-size: 1.8rem;
            }
          }
        }

        &-actions {
          margin-top: 4.5rem;

          @media (max-width: 991px) {
            margin-top: 2rem;
            flex-direction: row-reverse;

            .Amount {
              margin-right: 1.6rem;
            }
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 2rem;

        @media (max-width: 991px) {
          margin-bottom: 0;
        }
      }
    }
  }
}