.Button {
  &.primary {
    .Button {
      &-control {
        background: $yellow-sea;
        color: $white;

        &-icon {
          .fill {
            fill: $white;
          }
        }
      }
    }
  }

  &.outline-gray {
    .Button {
      &-control {
        background: $white;
        border: 1px solid $cloud;
        color: $black;
      }
    }
  }

  &.outline-primary {
    .Button {
      &-control {
        background: $white;
        border: 1px solid $yellow-sea;
        color: $black;
      }
    }
  }

  &.only-icon {
    .Button {
      &-control {
        padding: 1.1rem;

        &-icon {
          margin: 0 !important;
        }
      }
    }
  }

  &.big {
    .Button {
      &-control {
        font-size: 2.2rem;
        font-weight: 700;
        padding: 1.5rem;

        @media (max-width: 575px) {
          padding: 2.2rem 1.5rem;
          font-size: 2.6rem;
        }

        &-icon {
          width: 2.4rem;
          flex: 0 0 2.4rem;
          max-width: 2.4rem;
          height: 2.4rem;
        }
      }
    }
  }

  &-control {
    width: 100%;
    outline: none;
    border: none;
    transition: $common-transition;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: .5rem;

    @media (max-width: 575px) {
      padding: 1.6rem 1rem;
      font-size: 2rem;
    }

    &-icon {
      width: 1.8rem;
      flex: 0 0 1.8rem;
      max-width: 1.8rem;
      height: 1.8rem;
      margin-right: .9rem;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}