.NewBox {
  &-image {
    a {
      height: 38.5rem;
      @include centerScaleImage;

      @media (max-width: 575px) {
        height: 30rem;
      }
    }
  }

  &-info {
    padding: 2rem 0;
    border-bottom: 1px solid $silver;
  }

  &-title {
    display: block;
    color: $black;
    font-size: 2rem;
    height: 5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    @include ellipsis(2);

    @media (max-width: 575px) {
      font-size: 2.3rem;
      height: 5.5rem;
    }
  }

  &-description {
    font-size: 1.6rem;
    height: 7rem;
    color: $boulder;
    line-height: 1.5;
    margin-bottom: 2rem;
    @include ellipsis(3);

    @media (max-width: 575px) {
      font-size: 1.8rem;
      height: 8rem;
    }
  }

  &-socials {
    margin-bottom: -.8rem;

    &-item {
      flex: 0 0 1.6rem;
      max-width: 1.6rem;
      margin: 0 .8rem .8rem 0;

      @media (max-width: 575px) {
        flex: 0 0 2.3rem;
        max-width: 2.3rem;
      }

      img {
        width: 100%;
      }
    }
  }

  &-date {
    text-align: right;
    font-size: 1.4rem;
    color: $boulder;

    @media (max-width: 575px) {
      font-size: 1.8rem;
    }
  }


  &.vertical {
    position: relative;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid $silver;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;

    .NewBox {
      &-info {
        border: none;
        padding: 0;
      }

      &-image {
        margin-right: .8rem;

        a {
          width: 7.8rem;
          height: 7.8rem;

          @media (max-width: 575px) {
            width: 10rem;
            height: 10rem;
          }
        }
      }

      &-title {
        font-size: 1.6rem;
        margin-bottom: .2rem;
        height: auto;

        @media (max-width: 575px) {
          font-size: 2.3rem;
        }
      }

      &-description {
        height: auto;
        margin-bottom: .6rem;
        @include ellipsis(2);
      }

      &-socials {
        position: absolute;
        bottom: .5rem;
        left: 0;
      }
    }
  }
}