/* https://chir.ag/projects/name-that-color */

$white: #fff;
$black: #000;

$gray: #929191;
$pirate-gold: #C38B00;
$emperor: #525252;
$concrete: #F3F3F3;
$alto: #D9D9D9;
$wild-sand: #f5f5f5;
$yellow-sea: #FBB508;
$buttercup: #F2B324;
$salem: #0F993E;
$boulder: #777;
$silver: #C4C4C4;
$mercury: #E3E3E3;
$mine-shaft: #212121;
$cloud: #CCCBCA;
$gallery: #EEEEEE;
$cerulean: #00aff2;
$limeade: #6db703;
$bondi-blue: #0092bf;
$scorpion: #5F5E5E;