.ProductCategory {
  margin-bottom: 2.5rem;

  .Card {
    &-header {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }

  &-list {
    &.desktop {
      @media (max-width: 991px) {
        display: none;
      }
    }

    &.mobile {
      display: none;

      @media (max-width: 991px) {
        display: block;
      }
    }

    &-item {
      position: relative;
      overflow: hidden;

      @media (max-width: 991px) {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      &-image {
        img {
          border-radius: .5rem;
        }

        a {
          width: 100%;
          background: $alto;
          height: 17rem;
          border-radius: .5rem;
          overflow: hidden;
          margin: auto;
          @include centerScaleImage;

          @media (max-width: 575px) {
            width: 8.5rem;
            height: 8.5rem;
          }
        }
      }

      &-title {
        position: absolute;
        text-align: center;
        width: 100%;
        line-height: 1.5;
        bottom: 1rem;
        left: 0;
        font-size: 1.8rem;
        color: $black;
        text-transform: uppercase;
        z-index: 2;
        @include ellipsis(2);

        @media (max-width: 575px) {
          font-size: 1.6rem;
        }

        @media (max-width: 991px) {
          position: unset;
          bottom: unset;
          left: unset;
          margin-top: 1rem;
        }
      }
    }
  }
}