mixin Amount({})
  .Amount.flex
    .Amount-minus
      <svg width="17" height="3" viewBox="0 0 17 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0H16.8149V2.80248H0V0Z" fill="black"/></svg>

    input(type="number" value="1" min="1").Amount-control

    .Amount-plus 
      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.90497 7.07477V0H7.07504V7.07477H0V9.90469H7.07504V16.9796H9.90497V9.90469H16.9796V7.07477H9.90497Z" fill="black"/></svg>
