mixin Input({ className = '', type = 'text', size = 'middle', placeholder = '', require })
  .Input(class=`${className} ${size}`)
    input(type=`${type}`).Input-control

    if (placeholder)
      .Input-placeholder
        = placeholder
        if (require)
          span *